doctype 5
html
	head
		meta(name='author' content='Herald Gutierrez')
		meta(name='description' content='A fitness tracking application')
		meta(name='keywords' content='HTML, CSS, JavaScript, jQuery, NodeJS, Jade, ExpressJS, MongoDB, Mongoose')

		title GymLocker

		link(rel='stylesheet' href='/css/jquery-ui-1.8.17.custom.css')
		link(rel='stylesheet' href='/css/bootstrap.css')
		link(rel='stylesheet' href='/css/login.css')

		script(src='/js/libs/jquery-1.7.1.min.js')
		script(src='/js/libs/bootstrap.js')
		script(src='/js/libs/bootstrap-alert.js')
		script(src='/js/libs/bootstrap-tooltip.js')
		script(src='/js/libs/bootstrap-popover.js')
		script(src='/js/login.js')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-47823876-1', 'heraldgutierrez.com');
			ga('send', 'pageview');

	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a#btn-demo.btn.btn-primary(href='/demo' rel='popover' data-content='Try a demo of the site. All features are available to explore. After your session has expired, all data will be removed from the site.' data-original-title='Demo Rules') Try a Demo!

		div.content.container
			div#warning.alert.alert-error
				a#warning-close.close x
				div

			div.div-info-panel
				div.row
					form(action='/login', method='post')
						div.signup
							input.span3(type='text', name='loginUsername' placeholder=' Username' autofocus='autofocus')
							br
							input.span3(type='password' name='loginPassword' placeholder=' Password')
							br
							button.btn.btn-primary Sign In

				div.row
					form(action='/signup', method='post')
						div.signup
							p New to GymLocker? Sign up now!
							input.span3(type='text', name='signupUsername' placeholder=' Username')
							br
							input.span3(type='password' name='signupPassword' placeholder=' Password')
							br
							input.span3(type='password' name='signupVerifyPassword' placeholder=' Verify Password')
							br
							button.btn.btn-primary Sign up for GymLocker